<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.instance.crossshare.identifier.macos.daemon</string>
    
    <key>ProgramArguments</key>
    <array>
        <string>/usr/local/bin/crossshare-startup.sh</string>
    </array>
    
    <key>RunAtLoad</key>
    <true/>
    
    <key>KeepAlive</key>
    <false/>
    
    <key>LaunchOnlyOnce</key>
    <true/>
    
    <key>UserName</key>
    <string>root</string>
    
    <key>GroupName</key>
    <string>wheel</string>
    
    <key>StandardOutPath</key>
    <string>/var/log/crossshare-daemon.log</string>
    
    <key>StandardErrorPath</key>
    <string>/var/log/crossshare-daemon-error.log</string>
    
    <key>WorkingDirectory</key>
    <string>/usr/local/bin</string>
    
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
    </dict>
</dict>
</plist>